.menu {
    display: flex;
    list-style-type: none;

}

.menu li {
    padding: 10px 15px;
}

.menu a {
    text-decoration: none;
    color: #C84B31;
    font-size: 18px;
    font-family: fantasy;
    letter-spacing: 2px;
}


.menu a:hover {
   text-decoration:underline;
    transition: 0.5s;
    color: #ecdbba;
}