.menu {
    display: flex;
    list-style-type: none;

}

.menu li {
    padding: 10px 15px;
}

.menu a {
    text-decoration: none;
    color: #C84B31;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
}


.menu a:hover {
   text-decoration:underline;
    transition: 0.5s;
    color: #ecdbba;
    text-shadow: 0px 1px 2px #ecdbba;
}