.section {
    background-color:#7BF331;
    height: auto;
    position: relative;
    z-index: 2;
   
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.container div {
    width: 250px;
    height: 180px;
    background-color: #fff
    ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px;
    box-shadow: 1px 2px 3px #000;
    border-radius: 10px;
    cursor: pointer;
}
.container div:hover  {
    transform: translateX(10px) rotate(10deg) translateY(5px);
   transition: 1s;
}
.bcg {
    background-image: url("../../../../public/assets/img/contactbcg.png");

    position: absolute;
    width: 280px;
    background-size: contain;
    height: 280px;
    z-index: 0;
    background-repeat: no-repeat;
    right: 37%;
    opacity: 0.2;  animation-name: animat ;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

  @keyframes animat {
      0% {
          transform:rotate(0deg);
      }
      100% {
        transform: rotate(360deg) 
          ;
      }
     
      
  }