.section {
    background-color:#50C878;
    height: auto;
    position: relative;
    z-index: 2;
   
}

.container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    flex-wrap: wrap;
}

.container div {
    width: 230px;
    height: 180px;
    background-color: #fff
    ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px;
    box-shadow: 1px 2px 3px #000;
    border-radius: 10px;
    margin: 10px;
}
.bcg {
    background-image: url("../../../../public/assets/img/contactbcg.png");

    position: absolute;
    width: 280px;
    background-size: contain;
    height: 280px;
    z-index: 0;
    background-repeat: no-repeat;
    right: 37%;
    opacity: 0.2;  animation-name: animat ;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

  @keyframes animat {
      0% {
          transform:translateX(-1000px) rotate(360deg);
      }
      100% {
        transform: translateX(500px) ;
        transition:1s;
        opacity: 0;
          
      }
     
      
  }

@media screen and (min-width: 370px) {
    @keyframes animat {
        0% {
            transform:translateX(-500px) rotate(360deg);
        }
        100% {
          transform: translateX(200px) ;
          transition:1s;
          opacity: 0;
            
        }
       
        
    }
  }