.section {
    background-color:#7BF331;
    height: auto;
    position: relative;
   
}

.container {
    display: flex;
    justify-content: space-between; 
}

.container div {
    width: 300px;
    height: 200px;
    background-color: #fff
    ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px;
    box-shadow: 1px 2px 3px #000;
    border-radius: 10px;
    cursor: pointer;
}
.container div:hover  {
    transform: translateX(10px) rotate(10deg) translateY(5px);
   transition: 1s;
}