.about {
   color: #ffffff;
  padding: 50px 0;
  box-shadow: 0px -4px 20px 8px #000;
  position: relative;
  background-image: url(../../../../public/assets/img/aboutcar.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  height: auto;
}

.info {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
  font-size: 18px;
}
.num {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 65px;
  color: #000;
  animation: animatShadow 5s ease-in-out infinite alternate forwards;
  margin-bottom: 10px;
  transition: 1s;
}

@keyframes animatShadow {
  0% {
    text-shadow: 0px 4px 20px #fff;
  }

  100% {
    text-shadow: 0px 4px 20px #7bf331;
  }
}
.block {
  display: flex;
  align-items: center;
  color: #2be71b;
  margin-top: 50px;
  font-size: 22px;
}

.block img {
  margin-right: 20px;
}
