.about {
  background-color: #000;
  color: #ffffff;
  padding: 50px 0;
  box-shadow: 0px -4px 20px 8px #000;
  position: relative;
  background-image: url(../../../../public/assets/img/aboutcar.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  height: 100vh;
}

.about h2 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 10px;color: #122445;
    text-shadow: 0px 4px 20px #122445;
}
.info {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}
.num {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 65px;
  color: #000;
  text-shadow: 0px 4px 20px rgba(255, 0, 0, 0.47);
}


.block {
    display: flex;
    align-items: center;
    color: #2BE71B;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  margin-top: 50px;
  
  font-size: 18px;
}

.block img {
    margin-right: 20px;
}
