.section {
  background-image: url(../../../../public/assets/img/bcg.png);
  box-sizing: border-box;
  background-size: cover;
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
}
.content {
  background-image: url(../../../../public/assets/img/car.png);
  box-sizing: border-box;
  background-size:cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  color: #ecdbba;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
  width: 100%;
  letter-spacing: 5px;
  text-align: center;
}

.title {
  font-size: 38px;
  text-transform: uppercase;
  text-shadow: 1px 2px 3px rgba(255, 252, 247, 0.7);
  color:#ecdbba;  
}


.info p {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    color: #7BF331;
    border-bottom: 1px solid #7BF331;

}

.info h2 {
    font-size: 38px;
    text-transform: uppercase;
    text-shadow: 1px 2px 3px rgba(255, 252, 247, 0.7);
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}