.wrapper {
  max-width: 1000px;
  margin: 0 auto; display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  
 
  height: 100px;
}

.logo {
  position: relative;
  width: 200px;
  z-index: 1;
}

.logo span:nth-child(1) {
  color: #fff;
}
.logo :nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

.logo_text {
  color: #FDCC0D;
  
  font-size: 32px;
  text-shadow: 1px 2px 3px rgba(255, 252, 247, 0.7);
}

.logo_img {
  position: absolute;
  animation-name: animat ;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: 4px;
  left: 14px;
  z-index: -1;
}
@keyframes animat {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
   
    
}