
.wrapper {
    margin: 0 auto;
    max-width: 1000px;display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    color: #fff;
   max-width: 1200px;
    height: 70px;
   display: flex;
     
}

.footer img {
    width: 60px;
}

.footer span {
 margin: 0 auto;
}