.section {
  
  height: auto;
  box-shadow: 0px -4px 20px 8px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
    
  
}


.info {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 50px 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}

.card p {
  color: aliceblue;
}
.num {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 65px;
  color: #000;
  animation: animatShadow 5s ease-in-out infinite alternate forwards;
  transition: 1s;
}

@keyframes animatShadow {
  0% {
    text-shadow: 0px 4px 20px #fff;
  }

  100% {
    text-shadow: 0px 4px 20px #7bf331;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
 .container {
  width: 300px;
  margin: 0 auto;
 }
  }
