* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Oswald";
}
.App {
  background-color: black;
}



.title {
  font-size: 42px;
  font-family: "Lobster";
  text-align: center;
  margin-bottom: 20px;
  color: #C84B31;
  text-shadow: 3px -3px 6px #000;
  letter-spacing: 3px;
 
}
.swiper-container {
 max-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 10px;
}
section {
  padding: 50px 0;
}

.react-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.react-tabs__tab-panel--selected {
  width: 100%;
}
.react-tabs__tab-list {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #216169;
  margin: 0 0 36px;
  text-shadow: 1px 2px 3px #fff;
}

.react-tabs__tab-list .react-tabs__tab--selected {
  background-color: #C84B31;
  border-bottom: 0;
  text-shadow: 2px 2px 3px #fff;
  transition: 0.8s;
}
.react-tabs__tab-list li {
  border: 2px solid transparent;
  padding: 10px 30px;
}

.react-tabs__tab-panel {
  
  margin-top: 26px;
  box-shadow: 0px -2px 22px 14px #111;
}
section > .wrapper > .swiper {
  width: 1100px;
}
@media screen and (max-width: 500px) {
  section > .wrapper > .swiper {
    width: 350px;
  }
}
