

.contact {
color: aliceblue;
font-size: 22px;
position: relative;
z-index: 2;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.block {
    display: flex;
    align-items: center;
}

.adress {
    flex-grow: 2;
}

.links {
    flex-grow: 1;
}

.block a {
    text-decoration: none;
    color: #7BF331;
    margin-left: 20px;
}

.block a:hover {
    text-decoration:overline;
    color: #fff;
    text-shadow: 1px 3px 5px #fff;
   transition: 0.8s;
}

.info p {
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}
.info p span {
    color: #fff;
}
